### Importing

In [2]:
import pandas as pd

### Reading dataSet

In [25]:
dataSet_Address = r"D:\Payam\UT\Machin Learning\MyCode\Classification\HeartProject\Heart_DataSet.csv"
df = pd.read_csv(dataSet_Address)
df = df.sort_values(by=['age'] ,  ascending=True)
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1

### Pre-processing

* checking age values

In [26]:
print(df['age'].value_counts)
print("Mean of age : ",df['age'].mean().astype(int))

<bound method IndexOpsMixin.value_counts of 72     29
58     34
125    34
239    35
65     35
       ..
60     71
151    71
129    74
144    76
238    77
Name: age, Length: 303, dtype: int64>
Mean of age :  54

* checking trtbps

In [27]:
print(df["trtbps"].value_counts)
print("Mean of trtbps : ",df["trtbps"].mean().astype(int))

<bound method IndexOpsMixin.value_counts of 72     130
58     118
125    118
239    126
65     138
      ...
60     110
151    112
129    120
144    140
238    125
Name: trtbps, Length: 303, dtype: int64>
Mean of trtbps :  131

* checking chol value

In [23]:
print(df["chol"].value_counts)
print("Mean of chol : ",df["chol"].mean().astype(int))

<bound method IndexOpsMixin.value_counts of 0      233
1      250
2      204
3      236
4      354
      ...
298    241
299    264
300    193
301    131
302    236
Name: chol, Length: 303, dtype: int64>
Mean of chol :  246